.logo-link {
  font-family: var(--secondary-front);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--logo-txt-cl);
  margin-right: 93px;
}

.logo-header-style {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--button-bg-cl);
}
