.logo-link {
  font-family: var(--secondary-front);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--logo-txt-cl);
  margin-right: 93px;

  @media screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: calc(28 / 24);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 88px;
  }
}

.logo-header-style {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--button-bg-cl);
}
