.button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  font-family: var(--main-front);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--maim-txt-cl);
  background-color: var(--our-team-bg-cl);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: color var(--anim-fast), background-color var(--anim-fast), box-shadow var(--anim-fast);

  &:hover,
  &:focus {
    background-color: var(--button-bg-cl);
    color: var(--header-bg-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-btn-title {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  font-family: var(--main-front);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--header-bg-cl);
  background-color: var(--button-bg-cl);
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
