/**
  |============================
  | blok 2
  |============================
*/
body {
  font-family: var(--main-front);
  color: var(--maim-txt-cl);
  background-color: var(--header-bg-cl);
  font-size: 14px;
  letter-spacing: 0.03em;
}
